.app {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #8a0f5b;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  
}

input, textarea {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.task-item.completed {
  background-color: #e0ffe0;
}

.task-item button {
  margin-left: 5px;
}
